:root {
  --primaryColor: #0083b0;
  --secondaryColor: #00b4db;
  --whiteColor: #edededff;
  --blackColor: #242424;
}
* {
  background-color: var(--whiteColor);
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
  margin-top: 20px;
  display: grid;
  place-content: center;
  text-align: center;
  line-height: 0.1;
}

.heading h1,
h6 {
  text-transform: uppercase;
  color: var(--blackColor);
}

.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.box-container {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background: linear-gradient(
    to right,
    var(--primaryColor),
    var(--secondaryColor)
  );
  transition: all 0.3s ease-in-out;

  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.box-container:hover {
  scale: 1.01;
}

/* Input CSS */
.input {
  border: none;
  padding: 1rem;
  border-radius: 12px;
  background: var(--whiteColor);
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
  transition: 0.3s;
}

.input:focus {
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
  transition: 0.3s;
}

/* Button */
.btn {
  font-weight: 700;
  text-decoration: none;
  padding: 0.5em 2.5em;
  cursor: pointer;
  border-radius: 6em;
  border: none;
  color: black;
  background: linear-gradient(to right, #ffefba, #ffffff);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  scale: 1.01;
  background: #ffefba;
}
